# Exctrating string useful information

the only library that we will need is pandas and two functions apply and split

In [55]:
import pandas as pd

I have to use the delimiter ; because the default separator of read_csv is ','

In [56]:
df = pd.read_csv("just legends 2.csv",delimiter=';')

to keep the portuguese á é í ... I saved the excel format CSV UTF-8

In [57]:
df.head()

        column                                             Legend
0     F_KWH_TF  Paulinha:\nConsumo de Energia Ativa Total Fatu...
1     F_KWH_PF   Paulinha:\nConsumo Energia Ativa Ponta Faturado.
2    F_KWH_FPF  Paulinha:\nConsumo Energia Ativa Fora-Ponta Fa...
3   F_KVARH_RR  Paulinha:\nConsumo de Energia Reativa Total\nR...
4  F_KVARH_RPR  Paulinha:\nConsumo Energia Reativa Ponta Regis...

the comment that we take of from excel has the Autors name in the beggining to take it of 
I will use apply and split function to get the second array [1] when I split the string on split('\n')
its such a powerful aplication to separete string variables that we can use in a machine learning model

In [58]:
df["Legend"] = df["Legend"].apply(lambda x: x.split('\n')[1])

In [54]:
df.head()

        column                                      Legend
0     F_KWH_TF     Consumo de Energia Ativa Total Faturada
1     F_KWH_PF       Consumo Energia Ativa Ponta Faturado.
2    F_KWH_FPF  Consumo Energia Ativa Fora-Ponta Faturado.
3   F_KVARH_RR            Consumo de Energia Reativa Total
4  F_KVARH_RPR    Consumo Energia Reativa Ponta Registrado

just saving the csv now

In [46]:
df.to_csv("legend separated.csv",index=False)